<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">THÔNG TIN CỬA HÀNG</h5>
        <p>Địa chỉ: Thôn Quảng Xuyên, xã Phú Xuân, huyện Phú Vang
                            ,tỉnh Thừa Thiên Huế</p>
        <p>Hotline: 0364030812</p>
        <p>Email: DdshopTTH@gmail.com</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Chính sách</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Chính sách đổi trả</a>
          </li>
          <li>
            <a href="#!">Chính sách bảo hành</a>
          </li>
          <li>
            <a href="#!">Chính sách vận chuyển</a>
          </li>
          <li>
            <a href="#!">Chính sách khuyến mãi</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Hướng dẫn</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Hỗ trợ dịch vụ</a>
          </li>
          <li>
            <a href="#!">Hướng dẫn mua hàng</a>
          </li>
          <li>
            <a href="#!">Giao nhận thanh toán</a>
          </li>
          <li>
            <a href="#!">Đổi trả hoàn tiền</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Fanpage FB</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/DD-Shop-106337664864342">
            <img src="https://i.imgur.com/vzKpWoK.png" height="160" width="240" alt="">
            </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->