<nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <div class="container">
        <a class='navbar-brand' href='/'>
            <img src="https://i.imgur.com/sNFXaJi.png" height="50" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {{!-- <form class='form-inline my-2 my-lg-0' style="float" >
            <input
                class='form-control mr-sm-2'
                type='search'
                placeholder='Search'
                aria-label='Search'
            />
            <button
                class='btn btn-outline-success my-2 my-sm-0'
                type='submit'
            >Search</button>
        </form> --}}

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item dropdown'>
                    <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button'
                        data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                        Admin
                    </a>
                    <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                        <a class='dropdown-item' href='/shoes/create'>Thêm sản phẩm</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='/me/stored/shoes'>Sản phẩm của tôi</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='#'>Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div id="header">
    <ul id="nav">
        <li><a href="/">Trang chủ</a></li>
        <li>
            <a href="">Thương hiệu nổi bật</a>
            <ul class="nav_TH">
                <li><a href="">Nike</a></li>
                <li><a href="">Adidas</a></li>
                <li><a href="">Converse</a></li>
                <li><a href="">Puma</a></li>
                <li><a href="">Vans</a></li>
                <li><a href="">MBL</a></li>
                <li><a href="">New Balance</a></li>
                <li><a href="">Gucci</a></li>
            </ul>
        </li>
        <li>
            <a href="">Giới tính</a>
            <ul class="nav_GT">
                <li><a href="">Nam</a></li>
                <li><a href="">Nữ</a></li>
                <li><a href="">Unisex</a></li>
                <li><a href="">Trẻ em</a></li>
            </ul>
        </li>
        <li>
            <a href="">Phong cách</a>
            <ul class="nav_PC">
                <li><a href="">Sneaker</a></li>
                <li><a href="">Thể thao</a></li>
                <li><a href="">Hở gót</a></li>
                <li><a href="">Bệt</a></li>
                <li><a href="">Sandals</a></li>
            </ul>
        </li>
        <li>
            <a href="">Màu sắc</a>
            <ul class="nav_MS">
                <li><a href="">Đỏ</a></li>
                <li><a href="">Cam</a></li>
                <li><a href="">Vàng</a></li>
                <li><a href="">Xanh dương</a></li>
                <li><a href="">Xanh lá</a></li>
                <li><a href="">Hồng</a></li>
                <li><a href="">Tím</a></li>
            </ul>
        </li>
        <li>
            <a href="">Chất liệu</a>
            <ul class="nav_CL">
                <li><a href="">Da thật</a></li>
                <li><a href="">Vải</a></li>
                <li><a href="">Da cao cấp</a></li>
                <li><a href="">Da tổng hợp</a></li>
                <li><a href="">Canvas</a></li>
                <li><a href="">PU</a></li>
            </ul>
        </li>
        <li><a href="">Liên hệ</a></li>
        <div class="clear"></div>
    </ul>
</div>

